html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 25px;
  background-color: #E6E8E6;
}

a {
  color: red;
}

.header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron-about {
  background-color: #FDCA40;
}

.jumbotron-skills {
  background-color: #F06449;
}

.jumbotron-contact {
  background-color: #9EB3C2;
}

#skills {
	margin-top: 5%;
}

#contact {
margin-top: 5%;
}

#social {
	margin-top: 5%;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

 #map {
 	margin-bottom: 30px;
   width: 100%;
   background-color: grey;
     height: 500px;
}
@media(max-width:768px) {
  .map {
    height: 75%;
  }
}

.top-of-map {
	margin-top: 50px;
	padding: 50px 0;
	background-color: black !important;
}

.skills-box {
	margin-top: 50px;
	margin-bottom: 60px;
}

.skills-icons {
  font-size: 3rem;
  display: inline;
  color: #175676;
}